* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

body.light {
    background-color: white;
}

.wrapper {
    margin: 0 auto;
    background-color: black;
    transform: perspective(500px) rotateX(45deg);
}

.wrapper.light {
    background-color: white;
}

.txt {
    margin: 0 auto;
    text-align: center;
    color: yellow;
    font-family: 'Arimo', sans-serif;
    font-size: 45px;
    width: 70%;
    animation: animation 15s linear 0s infinite normal;
}

.txt.light {
    color: red;
}

@keyframes animation {
    0% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(-700px);
    }
}

